{% trans_default_domain 'FOSUserBundle' %}

<h1 class="box-element__header">Logowanie</h1>
<form action="{{path("fos_user_security_check")}}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{csrf_token}}"/>
    {% endif %}

    <label class="form__label"
           for="username">{{'security.login.username'|trans}}</label>
    <input class="form__input"
           type="text"
           id="username"
           name="_username"
           value="{{last_username}}"
           required="required"
           autocomplete="username"/>

    <label class="form__label"
           for="password">{{'security.login.password'|trans}}</label>
    <input class="form__input"
           type="password"
           id="password"
           name="_password"
           required="required"
           autocomplete="current-password"/>

    <label class="checkbox login__checkbox">
        {{'security.login.remember_me'|trans}}
        <input class="checkbox__input"
               type="checkbox"
               id="remember_me"
               name="_remember_me"
               value="on">
        <span class="checkbox__checkmark"></span>
    </label>

    <button id="_submit"
            name="_submit"
            type="submit"
            class="form__input form__input--submit">
        {% trans from 'login' %}login.input.submit-text{% endtrans %}
        <span class="form__input-icon fas fa-chevron-right"></span>
    </button>
</form>