{% extends 'admin.html.twig' %}
{% block admin_body %}
    <h1 class="admin__title">Przewoźnicy</h1>
    <table class="list-menu">
        <tr class="list-menu__row list-menu__row--header">
            <th class="list-menu__element list-menu__element--header">
                ID
            </th>
            <th class="list-menu__element list-menu__element--header">
                logo
            </th>
            <th class="list-menu__element list-menu__element--header">
                Pełna nazwa
            </th>
            <th class="list-menu__element list-menu__element--header">
                Nazwa skrócona
            </th>
            <th class="list-menu__element list-menu__element--header">
                Kod IBAN
            </th>
            <th class="list-menu__element list-menu__element--header">
                Strona WWW przewoźnika
            </th>
            <th class="list-menu__element list-menu__element--header">
                Kod rozkładowy
            </th>
            <th class="list-menu__element list-menu__element--header">
            </th>
            <th class="list-menu__element list-menu__element--header">
            </th>
        </tr>
        {% for carrier in carriers %}
            <tr class="list-menu__row">
                <td class="list-menu__element">{{carrier.ID}}</td>
                <td class="list-menu__element">{{carrier.logoFilePath}}</td>
                <td class="list-menu__element">{{carrier.fullName}}</td>
                <td class="list-menu__element">{{carrier.shortName}}</td>
                <td class="list-menu__element">{{carrier.countryIbanCode}}</td>
                <td class="list-menu__element">{{carrier.website}}</td>
                <td class="list-menu__element">{{carrier.shortcode}}</td>
                <td class="list-menu__element"><a href="" class="link">Edytuj</a></td>
                <td class="list-menu__element"><a href="" class="link">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}