{% trans_default_domain 'menu' %}
{% extends 'base.html.twig' %}

{% block title %}{{'menu.page-title'|trans}}{% endblock %}
{% block body %}
    <div class="wrapper">
        <div class="box-container">
            {% include 'common/header.html.twig' %}
            <main class="box-element">
                <h1>{{'menu.title'|trans}}</h1>
                <div class="menu">
                    <a href="" class="menu__element" disabled>
                        <span class="menu__icon fas fa-plus-square fa-fw"></span>
                        <span class="menu__text">{{'menu.modules.register-drive'|trans}}</span>
                        <span class="menu__icon fas fa-chevron-right"></span>
                    </a>
                    <a href="" class="menu__element" disabled>
                        <span class="menu__icon fas fa-ticket-alt fa-fw"></span>
                        <span class="menu__text">{{'menu.modules.ticket-sell'|trans}}</span>
                        <span class="menu__icon fas fa-chevron-right"></span>
                    </a>
                    <a href="{{path('gui__route_list')}}" class="menu__element">
                        <span class="menu__icon fas fa-map-marked-alt fa-fw"></span>
                        <span class="menu__text">{{'menu.modules.staff-schedules'|trans}}</span>
                        <span class="menu__icon fas fa-chevron-right"></span>
                    </a>
                    <a href="" class="menu__element" disabled="">
                        <span class="menu__icon fas fa-clipboard fa-fw"></span>
                        <span class="menu__text">{{'menu.modules.work-card'|trans}}</span>
                        <span class="menu__icon fas fa-chevron-right"></span>
                    </a>
                </div>
            </main>
            {% include 'common/footer.html.twig' %}
        </div>
    </div>
{% endblock %}